<h1>Edit Entry</h1>

<!-- Form for creating new entries. -->
<%= form_for(:entry, :url => {:action => 'update', :id => @entry.id}, :method => :put) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

<% end %>

<!-- Go back to the entries page. -->
<%= link_to 'Back', action: 'show_entries_by_user' %>