<h2>Entries by: <%= current_user.name %></h2>
<% @entries.each do |entry| %>
	<h3>Entry</h3>
	<p>
		<b>Content:</b> <%= entry.content if entry.content %>
		<%= link_to 'Show', :action => 'show', :id => entry.id %>
		<%= link_to 'Edit', {:action => 'edit', :id => entry.id} %>
	</p>
<% end %>