<h3>Entry</h3>
<p>
	<b>User:</b> <%= @entry.user_id if @entry.user_id %>
	<b>Content:</b> <%= @entry.content if @entry.content %>
	<b>Message:</b> <%= @entry.message if @entry.message %>
	<b>Created At:</b> <%= @entry.created_at if @entry.created_at %>
</p>