<h2>Entries by: <%= session[:user_id] %></h2>
<% @entries.each do |entry| %>
	<h3>Entry</h3>
	<p>
		Content: <%= entry.content if entry.content %>
		Message: <%= entry.message if entry.message %>
		Created At: <%= entry.created_at if entry.created_at %>
	</p>
<% end %>