<h3>Entry</h3>
<p>
	User: <%= @entry.user_id if @entry.user_id %>
	Content: <%= @entry.content if @entry.content %>
	Message: <%= @entry.message if @entry.message %>
	Created At: <%= @entry.created_at if @entry.created_at %>
</p>